AppBundle\Entity\Book:
    repositoryClass: AppBundle\Repository\BookRepository
    type: entity
    table: book
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        title:
            type: string
            length: 255
        synopsis:
            type: text
        pages:
            type: integer
        publishedAt:
            type: datetime
    lifecycleCallbacks: {  }
